---
import Banner from "../components/Banner.astro";
import Countdown from "../components/Countdown.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="IX CONANDINO">
  <header class="">
    <Header />
  </header>
  <main class="">
    <Banner />
    <Countdown />
  </main>
</Layout>

<style>

</style>
