---
import { Image } from "astro:assets";
import BannerImage from '../assets/images/Banner.webp';
---

<div
  class="flex flex-col pt-10 items-center px-10 gap-y-3 justify-center md:flex-row md:gap-x-10 md:px-20 lg:px-[15rem]"
>
  <Image src={BannerImage} alt="Imagen del banner del ConAndino" class="h-[15rem] w-auto lg:h-[30rem]" />
  <h1 class="font-semibold text-center text-xl text-['Hind'] text-[#716F76]  md:text-2xl lg:text-4xl">
    “Impacto de la transformación digital y la inteligencia Artificial en la
    Administración Pública y Privada”
  </h1>
</div>
