---
import { Image } from "astro:assets";

import BannerImage from "../assets/images/Banner.png";
---

<div
  class="flex flex-col items-center px-10 gap-y-3 justify-center md:flex-row md:gap-x-10 md:px-20 lg:px-[10rem]"
>
  <img src="./src/assets/images/Banner.png" alt="Banner del CONANDINO" class="h-[15rem] w-auto lg:h-[30rem]">
  <h1 class="font-semibold text-center text-['Hind'] text-[#716F76]  md:text-2xl lg:text-4xl">
    “Impacto de la transformación digital y la inteligencia Artificial en la
    Administración Pública y Privada”
  </h1>
</div>
