---

---

<div class="flex flex-col pt-12 md:pt-24 md:mx-20 lg:mx-[16rem]">
  <h2
    class="font-semibold mb-4 text-center text-['hind'] text-[#716F76] text-2xl md:mb-16 md:text-4xl lg:text-4xl"
  >
    El congreso empieza en
  </h2>
  <div class="mx-auto container text-center grid md:grid-cols-4">
    <div class="">
      <h3 id="dias" class="font-semibold text-[5rem]">62</h3>
      <p class="text-[#716F76]">dias</p>
    </div>
    <div class="">
      <h3 id="horas" class="font-semibold text-[5rem]">12</h3>
      <p class="text-[#716F76]">horas</p>
    </div>
    <div class="">
      <h3 id="minutos" class="font-semibold text-[5rem]">30</h3>
      <p class="text-[#716F76]">minutos</p>
    </div>
    <div class="">
      <h3 id="segundos" class="font-semibold text-[5rem]">24</h3>
      <p class="text-[#716F76]">segundos</p>
    </div>
  </div>
  <p
    class="mx-10 pt-6 text-center font-medium text-[#716F76] md:pt-16 md:text-2xl"
  >
    ¡Transforma el futuro de la administración con IA y Transformación Digital
    en el IX CONANDINO!
  </p>

  <div class="pt-6 mb-10 flex flex-col items-center md:pt-12">
    <a
      class="text-center px-10 py-2 rounded-md text-3xl font-semibold bg-[#0075B1] text-white md:px-20"
      href="https://forms.gle/U3yVLJYTKTk8HSU86" target="_blank"
    >
      Registrate
    </a>
  </div>
</div>

<script src="../scripts/countdown.ts"></script>
