<div class="flex flex-col mb-12 pt-12 md:pt-24 md:mx-20 lg:mx-[16rem]">
  <h2
    class="font-semibold mb-4 text-center text-['hind'] text-[#716F76] text-2xl md:mb-10 md:text-4xl lg:text-4xl"
  >
    Preguntas Frecuentes
  </h2>

  <div class="px-10 md:px-20">
    <details>
      <summary class="py-2 outline-none cursor-pointer focus:underline"
        >¿Habrá certificado de participación en el CONANDINO 2024?</summary
      >
      <div class="px-4 pb-4">
        <p>
          Sí, se entregará un certificado de participación a todos los
          asistentes que completen el 80% de las horas académicas del evento. El
          certificado incluirá el nombre del participante, el nombre del evento,
          las fechas del evento, las horas académicas completadas y la firma de
          los organizadores.
        </p>
      </div>
    </details>
    <details>
      <summary class="py-2 outline-none cursor-pointer focus:underline"
        >¿La entrada al CONANDINO 2024 es válida para los tres días del evento?
      </summary>
      <div class="px-4 pb-4">
        <p>
          Sí, la entrada al CONANDINO 2024 es válida para los tres días del
          evento. Esto significa que podrás asistir a todas las conferencias,
          talleres, eventos sociales y otras actividades que se desarrollarán
          durante el congreso.
        </p>
      </div>
    </details>
    <details>
      <summary class="py-2 outline-none cursor-pointer focus:underline"
        >¿Se entregará el material de los ponentes a los asistentes del
        CONANDINO 2024?</summary
      >
      <div class="px-4 pb-4">
        <p>
          Sí, se entregará el material de los ponentes a los asistentes del
          CONANDINO 2024. El material incluirá presentaciones en PowerPoint,
          artículos científicos, resúmenes de las conferencias y otros
          materiales relevantes.
        </p>
      </div>
    </details>
    <details>
      <summary class="py-2 outline-none cursor-pointer focus:underline"
        >¿El CONANDINO 2024 se llevará a cabo en la ciudad del Cusco?</summary
      >
      <div class="px-4 pb-4">
        <p>
          Sí, el CONANDINO 2024 se llevará a cabo en la ciudad del Cusco, Perú.
        </p>
      </div>
    </details>
  </div>
</div>
