---
import { Image } from "astro:assets"

import ImageLogo from '../assets/images/Logo.png'
---
<div class="bg-[#E2EFFB]">
  <div
    class="items-center grid gap-x-20 gap-y-4 mx-5 md:grid-cols-3 md:mx-24 lg:mx-[12rem]"
  >
    <div class="mt-4 flex flex-col items-center md:items-start">
      <Image
        src={ImageLogo}
        alt="Logo del IX CONANDINO"
        height={100}
        width={100}
      />
      <p>
        Impacto de la transformación digital y la inteligencia Artificial en la
        Administración Pública y Privada
      </p>
    </div>
    <div class="flex">
      <ul class="hidden md:grid md:grid-cols-1 font-semibold">
        <li><a href="#inicio">Inicio</a></li>
        <li><a href="#cronograma">Ponentes</a></li>
        <li><a href="#entradas">Entradas</a></li>
      </ul>
    </div>
    <div class="flex flex-col items-center md:items-start">
      <p>+51 940033003</p>
      <p>corladcusco043@gmail.com</p>
    </div>
  </div>
  <p class="text-center font-bold">Wonder Clouds - 2024</p>
</div>
