---
import Card from "./Card.astro";
---

<div class="flex flex-col items-center mb-12 pt-12 md:pt-12 md:mx-20 lg:mx-40">
  <h2
    class="font-semibold mb-4 text-center text-['hind'] text-[#716F76] text-2xl md:mb-16 md:text-4xl lg:text-4xl"
  >
    Ponentes
  </h2>
  <div class="grid gap-y-5 mx-4 gap-x-5 md:grid-cols-2 lg:grid-cols-3">
    <Card
      image="/src/assets/images/Emigdio Arcundia Fernandez.jpg"
      description="Emigdio Arcundia Fernandez"
      title="Emigdio Archundia Fernandez"
      subtitle="Tecnico en Contabilidad"
      sumary="CEO de la firma internacional Archundia Consultores Business Advisor, Fundador de la empresa Capacitación Especializada de Celaya, S.C. CEO y Fundador de la empresa DOMOV, Open House Raíces, S.A. de C.V. Real Estate. Asesor Municipal en el área de Recursos Humanos y Capacitación."
    />
    <Card
      image="/src/assets/images/Emigdio Arcundia Fernandez.jpg"
      description="Emigdio Arcundia Fernandez"
      title="Emigdio Archundia Fernandez"
      subtitle="Tecnico en Contabilidad"
      sumary="CEO de la firma internacional Archundia Consultores Business Advisor, Fundador de la empresa Capacitación Especializada de Celaya, S.C. CEO y Fundador de la empresa DOMOV, Open House Raíces, S.A. de C.V. Real Estate. Asesor Municipal en el área de Recursos Humanos y Capacitación."
    />
    <Card
      image="/src/assets/images/Emigdio Arcundia Fernandez.jpg"
      description="Emigdio Arcundia Fernandez"
      title="Emigdio Archundia Fernandez"
      subtitle="Tecnico en Contabilidad"
      sumary="CEO de la firma internacional Archundia Consultores Business Advisor, Fundador de la empresa Capacitación Especializada de Celaya, S.C. CEO y Fundador de la empresa DOMOV, Open House Raíces, S.A. de C.V. Real Estate. Asesor Municipal en el área de Recursos Humanos y Capacitación."
    />
  </div>
</div>
