---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: system-ui, sans-serif;
    background: #f9faff;
    background-size: 224px;
  }

  /* Estilos para el botón de hamburguesa */
  #menu-toggle {
    @apply p-2 rounded-md text-gray-400 hover:text-gray-600;
  }

  /* Estilos para el menú de navegación */
  #menu {
    @apply flex flex-col md:flex-row md:items-center;
  }

  #menu > a {
    @apply p-2 text-sm font-medium text-gray-700 hover:text-gray-900;
  }
</style>
